@import "variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  gap: 16px;
}

.input {
  width: 100%;
  padding: 8px;
  height: 36px;
  font-size: $text-size-default;
  border: $border-default;
  border-radius: $border-radius-default;
}

.content {
  padding: 16px;
  font-size: $text-size-default;
  border: $border-default;
  border-radius: $border-radius-default;
  height: 500px;
  resize: none;
}
